<% if flash[:error] %>
  <% flash[:error].each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<h1>Edit a Duck's Information</h1>
<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.collection_select :student_id, @students, :id, :name %>
  <%= f.submit %>
<% end %>
